pandas
numpy
openpyxl
tqdm

sentence-transformers
transformers
torch

camel-tools
pyarabic

PyMuPDF

yt-dlp
youtube-transcript-api

openai-whisper

google-generativeai

matplotlib

python-dotenv
requests